* {
  box-sizing: border-box;
}

:root {
  --primary-font: "Pixelify Sans";
  --primary-bg-color: #1e1e1e;
  --primary-color: #ccc;

  --desktop-overlay-bg-color: #2c2c2c;
  --desktop-overlay-width: 80%;
  --desktop-overlay-max-width: 1000px;
  --desktop-overlay-height: 20vh;
  --desktop-overlay-min-height: 120px;
  --desktop-overlay-border-radius: 0.6rem;

  --particle-palette-bg-color: #2c2c2c;
  --particle-palette-width: 60%;

  --property-panel-bg-color: #2c2c2c;
  --property-panel-width: 40%;

  --category-bar-bg-color: #e0e0e0;
  --category-bar-min-width: 140px;
  --category-bar-height: 24px;

  --particle-button-base-color: #2c2c2c;
  --particle-button-variant-color: #1e1e1e;
  --particle-button-min-width: 48px;
  --particle-button-height: 22px;
  --particle-button-border-radius: 6px;
  --particle-button-margin: 3px;
  --particle-button-selection-outline-color: yellow;
  --particle-button-selection-outline-width: 2px;
  --particle-button-name-font: var(--primary-font);
}

/** BODY CLASSES ------------------------------------------- */
/** ======================================================== */
body {
  font-family: var(--primary-font);
  background-color: var(--primary-bg-color);
  color: var(--primary-color);

  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  display: flex;
  overflow: hidden;
}
#main-panel {
  background-color: var(--primary-bg-color);

  width: 100%;
  height: 100%;

  position: relative;
  justify-items: center;
}

/** MAIN CANVAS CLASSES ------------------------------------ */
/** ======================================================== */
#main-canvas {
  background-color: #000;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;

  width: 100%;
  max-width: 1400px;
  height: auto;

  display: block;
  touch-action: none;
}

/** OLD DESKTOP OVERLAY CLASSES ---------------------------- */
/** ======================================================== */
#desktop-overlay {
  background-color: var(--desktop-overlay-bg-color);
  color: #ccc;

  /* Dimensions (Desktop) */
  width: var(--desktop-overlay-width);
  max-width: var(--desktop-overlay-max-width);
  height: var(--desktop-overlay-height);
  min-height: var(--desktop-overlay-min-height);

  /* Positioning over the #main-panel */
  position: absolute;
  bottom: 0;

  /* Center it horizontally */
  left: 50%;
  transform: translateX(-50%);

  padding: 6px;
  z-index: 10;

  border-top-left-radius: var(--desktop-overlay-border-radius);
  border-top-right-radius: var(--desktop-overlay-border-radius);

  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
}

/** PROPERTY PANEL CLASSES --------------------------------- */
/** ======================================================== */
#property-panel {
  background-color: var(--property-panel-bg-color);

  flex-grow: 0;
  flex-shrink: 0;
  width: var(--property-panel-width);
  height: 100%;

  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

/** PARTICLE PALETTE CLASSES ------------------------------- */
/** ======================================================== */
#particle-palette {
  background-color: var(--particle-palette-bg-color);

  flex-grow: 0;
  flex-shrink: 0;
  width: var(--particle-palette-width);
  height: 100%;

  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.category-bar {
  background-color: var(--category-bar-bg-color);

  width: auto;
  min-width: var(--category-bar-min-width);
  height: var(--category-bar-height);

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;

  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 5;
}
.category-button {
  background-color: transparent;
  color: white;

  border: none;
  cursor: pointer;

  text-align: center;
  font-size: 12px;
  opacity: 0.65;
  transition: opacity 0.2s ease-in-out;
}
.category-button:hover {
  opacity: 1;
}
.category-button.selected {
  opacity: 1;
}
.category-icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
  display: block;
  margin: auto;
}
.content-container {
  background-color: var(--particle-palette-bg-color);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 12px;

  overflow-y: auto;
}
.particle-button {
  background: linear-gradient(90deg, var(--particle-button-base-color), var(--particle-button-variant-color));
  color: white;

  min-width: var(--particle-button-min-width);
  height: var(--particle-button-height);

  border: none;
  border-radius: var(--particle-button-border-radius);

  padding: 0px 10px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: var(--particle-button-margin);
  text-transform: uppercase;
  font-family: var(--particle-button-name-font);
  font-size: 0.85rem;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  transition: outline 0.1s ease-in-out;
}
.particle-button:hover {
  transform: translateY(-1.5px);
  box-shadow: 0px 3px 5px rgba(0.2, 0.2, 0.2, 0.2);
}
.particle-button.selected {
  outline: var(--particle-button-selection-outline-width) solid var(--particle-button-selection-outline-color);
  outline-offset: -2px;

  transform: scale(1.08);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

/** DEBUG CLASSES ------------------------------------------ */
/** ======================================================== */
.debug-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  min-height: 50px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-family: monospace;
  z-index: 10;
}
.debug-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.debug-info {
  margin-bottom: 5px;
  margin-right: 5px;
  width: 40%;
  padding: 2px;
  border-radius: 3px;
  font-size: 14px;
}

/** WINDOW CLASSES ----------------------------------------- */
/** ======================================================== */
.ui-window {
  background-color: #2c303b;
  color: #ccc;
  font-family: sans-serif;

  min-width: 320px;
  min-height: 180px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  outline: 2px solid #777a80;
  outline-offset: -4px;
  border-radius: 0px;

  position: absolute;

  z-index: 2;
  user-select: none;
}
.ui-window__controls {
  display: flex;
  flex-shrink: 0;
}
.ui-window__titlebar {
  font-size: 14px;

  padding: 8px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}
.ui-window__title-button {
  background: none;
  color: white;
  font-size: 12px;

  padding: 1px 1px;
  border-radius: 0;

  display: inline-block;
  cursor: pointer;
  border: none;

  transition: background-color 0.1s;
}
.ui-window__title-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.ui-window__title-button img {
  width: 17px;
  height: 17px;
  display: block;
}
.ui-window__settings-panel {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  background-color: #333940;
  border-top: 1px solid #777a80;
  padding: 8px;

  /* Start hidden */
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s;
  z-index: 10;
}
.ui-window__settings-panel.is-open {
  max-height: 200px;
  opacity: 1;
}
.ui-window__content {
  height: 200px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 6px;
  padding-left: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 2px;
}
.ui-window__content__Button {
  background-color: #4c5dbb;
  color: white;

  padding: 8px 12px;
  font-size: 0.8rem;
  border-radius: 3px;
  margin: 2px;

  border: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}
.ui-window__content__Button:hover {
  background-color: #5d70e0;
}
.ui-window__content__Button:active {
  background-color: #3d4a97;
}
.ui-window__content__text {
  color: #e0e0e0;
  font-family: "Consolas", "Monospace", sans-serif;

  font-size: 0.9rem;
  line-height: 1.4;
  padding: 2px 5px;
  margin-bottom: 5px;
}
